.ant-typography {
  font-size: 14px;
}

.ant-modal {
  .ant-modal-content {
    padding: 0;
  }

  .ant-modal-header {
    padding: 20px 24px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0px;
  }

  .ant-modal-close {
    top: 20px;
  }

  .ant-modal-body {
    padding: 20px 24px;
  }

  .ant-modal-footer {
    padding: 20px 24px;
    border-top: 1px solid #d9d9d9;
    margin-top: 0px;
  }
}

.kanban-update-modal {
  .ant-modal-body {
    padding: 0px;
  }

  .ant-modal-footer {
    border-top: none;
    text-align: unset;
  }
}

.ant-select.kanban-users-form-select {
  .ant-select-selector {
    background-color: #fff;
  }
}

.audit-log-table {
  .ant-table {
    .ant-table-tbody {
      & > tr.ant-table-row:hover > td {
        background: none !important;
      }
    }

    .ant-table-cell {
      vertical-align: top;
    }
  }
}

.ant-picker-calendar {
  .ant-picker-panel {
    .ant-picker-body {
      .ant-picker-cell {
        .ant-picker-calendar-date-content {
          height: 92px;
          overflow: hidden;
        }
      }
    }
  }
}

.ant-pagination-total-text {
  margin-right: auto;
  font-size: 16px !important;
  margin-inline-end: auto !important;
}

.ant-color-picker {
  .ant-popover-content {
    .ant-collapse-header {
      display: none;
    }
  }
}

.ant-table-cell {
  white-space: nowrap;
  font-size: 15px !important;
  align-content: center;
  align-items: center;
  align-self: center;
  padding-left: 15px !important;
}

th.ant-table-column-sort {
  background-color: unset;
}

td.ant-table-column-sort {
  background-color: unset;
}

.ant-table-column-sorter-inner {
  color: unset;
}

.ant-table-tbody > tr > td {
  padding: 12px 11.25px 11px 16px !important;
}
.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  font-size: 13px !important;
  color: #bebebe;
}

.ant-table-tbody > tr:first-child > td {
  padding: 0px !important;
}

.ant-page-header-content {
  padding-block-start: 8px;
}
.ant-radio-group-large,
.ant-radio-button-wrapper {
  font-size: 14px !important;
}
