.ant-typography strong {
  /* font-size: 24px; */
}
.ant-typography {
  font-size: 14px;
}

.ant-modal {
  .ant-modal-content {
    padding: 0;
  }

  .ant-modal-header {
    padding: 20px 24px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0px;
  }

  .ant-modal-close {
    top: 20px;
  }

  .ant-modal-body {
    padding: 20px 24px;
  }

  .ant-modal-footer {
    padding: 20px 24px;
    border-top: 1px solid #d9d9d9;
    margin-top: 0px;
  }
}

.kanban-update-modal {
  .ant-modal-body {
    padding: 0px;
  }

  .ant-modal-footer {
    border-top: none;
    text-align: unset;
  }
}

.ant-select.kanban-users-form-select {
  .ant-select-selector {
    background-color: #fff;
  }
}

.audit-log-table {
  .ant-table {
    .ant-table-tbody {
      & > tr.ant-table-row:hover > td {
        background: none !important;
      }
    }

    .ant-table-cell {
      vertical-align: top;
    }
  }
}

.ant-picker-calendar {
  .ant-picker-panel {
    .ant-picker-body {
      .ant-picker-cell {
        .ant-picker-calendar-date-content {
          height: 92px;
          overflow: hidden;
        }
      }
    }
  }
}

.ant-pagination-total-text {
  margin-right: auto;
  font-size: 16px !important;
  margin-inline-end: auto !important;
}

.ant-color-picker {
  .ant-popover-content {
    .ant-collapse-header {
      display: none;
    }
  }
}

.ant-table-cell {
  white-space: nowrap;
  font-size: 15px !important;
  align-content: center;
  align-items: center;
  align-self: center;
  padding-left: 15px !important;
}

th.ant-table-column-sort {
  background-color: unset;
}

td.ant-table-column-sort {
  background-color: unset;
}

.ant-table-column-sorter-inner {
  color: unset;
}

.ant-table-tbody > tr > td {
  padding: 12px 11.25px 11px 16px !important;
}
.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  font-size: 13px !important;
  color: #bebebe;
}

.ant-table-tbody > tr:first-child > td {
  padding: 0px !important;
}

.ant-page-header-content {
  padding-block-start: 8px;
}
.ant-radio-group-large,
.ant-radio-button-wrapper {
  font-size: 14px !important;
}

.ant-form {
  background-color: #1e1e1e;
}
.ant-form-item .ant-form-item-label > label {
  font-size: 16px;
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
  font-size: 20px !important;
  line-height: 24px !important;
}

.w-md-editor-toolbar li > button {
  svg {
    width: 14px;
    height: 14px;
  }
}

.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  font-size: 14px;
  color: #bebebe87;
}

.ant-select-selector {
  height: 35px !important;
  border: 1px solid #d9d9d9;
}

[class*=" ant-select"] {
  background-color: #1e1e1e !important;
  font-size: 20px !important;
  border-bottom: 0.5px solid #bebebe4b !important;
}

.ant-select-selection-search-input {
  background-color: #1e1e1e !important;
}

.ant-form-item-control-input-content {
  .ant-input::placeholder {
    font-size: 14px;
    color: #bebebe87;
  }
  .ant-input-outlined {
    background-color: #1b1b1bcc;
  }
}

.w-md-editor-toolbar-divider {
  height: 16px !important;
  width: 1.5px !important;
  /* margin: 0 !important; */
  vertical-align: middle !important;
  background-color: #838181ce;
}

.ant-table-tbody .ant-table-cell {
  border: 0.01px solid #adadad2e !important;
  background-color: rgba(24, 24, 24, 0.558);
}

.ant-table-thead .ant-table-cell {
  border: 0.01px solid #adadad2e !important;
  background-color: rgba(35, 35, 35, 0.853) !important;
}

.ant-card-head-wrapper {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px !important;
}

.ant-layout {
  background-color: rgb(35, 35, 35);
}
.auth-page {
  background-color: #151515af !important;

  .ant-form-item .ant-form-item-label > label {
    font-size: 14px;
  }

  .ant-form {
    background-color: unset;
  }

  .ant-card-body {
    background-color: uset !important;
  }
  .ant-card-head {
    background-color: uset !important;
  }
  .ant-form-item-control-input {
    border-width: 0.01rem;
    border-radius: 8px;
    border-style: solid;
    border-color: #d9d9d95b !important;
  }
  .ant-input-lg {
    padding: 7px 11px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 8px;
  }
  .ant-form-item-label {
    background: unset !important;
  }
  .ant-row .ant-form-item-row {
    background: unset !important;
  }
  .ant-form-item-control-input-content {
    background: unset !important;
  }
}

.ant-tag {
  font-size: 13px !important;
}

.ant-tabs .ant-tabs-tab {
  font-size: 16px !important;
}

.ant-popover .ant-popover-inner {
  background-color: #1f1f1ff3 !important;
}

.ant-select .ant-select-arrow > * {
  line-height: 1;
  font-size: 12px !important;
}

.ant-select-item-option-content {
  font-size: 14px !important;
}

.ant-select-multiple .ant-select-selection-item-content {
  font-size: 14px !important;
}

.ant-drawer-header-title {
  display: none !important;
}

.ant-tooltip-inner {
  background-color: #1f1f1ff3 !important;
}

.ant-avatar {
  margin-right: 8px !important;
}

/* CARD */

.ant-card {
  font-size: 16px !important;
}
