:root {
  --fc-today-bg-color: #75549f;
}

.fc-h-event .fc-event-title {
  color: #fff;
}

.fc .fc-daygrid-day.fc-day-today {
  .fc-event-title {
    color: #fff;
    text-wrap: pretty;
  }
  .fc-event-time {
    color: #fff;
  }
}

.fc-col-header-cell-cushion {
  color: #fff;
  font-weight: 400;
}

.fc-daygrid-day-number {
  color: #bebebe;
}

.fc-event::after {
  background-color: unset !important;
}

.fc-event:hover,
.fc-event:focus {
  background-color: unset;
  box-shadow: unset;
}

.fc-event {
  .fc-event-title {
    /* text-wrap: pretty !important; */
    color: #fff;
    font-weight: 400 !important;
    font-size: 12px;
  }
  .fc-event-time {
    color: #fff;
    font-weight: 400 !important;
    font-size: 12px;
  }
}

.fc-daygrid-block-event,
.fc-timegrid-event {
  cursor: pointer;
  .fc-event-time {
    width: 35px;
  }
  .fc-event-title,
  .fc-event-time {
    font-weight: 400 !important;
    font-size: 12px;
  }
}
.fc-daygrid-day-events {
  text-wrap: pretty !important;
}

.fc-timegrid-slot-label-cushion,
.fc-list-day-text,
.fc-list-day-side-text {
  color: #fff;
  font-weight: 500;
}

.fc-list-day {
  border: none !important;
  border-bottom: none !important;
  border-collapse: collapse !important;
  position: relative;
  z-index: 1;
}

.fc-event-title-container {
  padding-left: 8px;
  padding-right: 8px;
}
.fc-col-header-cell .fc-day {
  text-align: center !important;
}

.fc-theme-standard td,
.fc-theme-standard tr,
.fc-day .fc-day-tue .fc-day-past .fc-day-other .fc-daygrid-day,
.fc .fc-list-table td {
  border-left: none !important;
  border-top: none !important;
  border-bottom: 0.1px solid #bebebea0;
  border-right: 0.1px solid #bebebea0;
  border-collapse: collapse !important;
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-list-day-cushion {
  background-color: transparent !important;
  border-top: 1px solid;
}

.fc-timegrid-event .fc-event-title,
.fc-event-title .fc-sticky,
.fc-list-event-time,
.fc-list-event-title {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #fff !important;
}
.fc-event-main-frame {
  .fc-event-title-container {
    .fc-event-title.fc-sticky {
      flex-direction: row !important;
      font-size: 16px !important;
      /* font-weight: 600 !important; */
      /* color: rgb(255, 255, 255) !important; */
    }
  }

  .fc-event-time {
    /* flex-direction: row !important; */
    font-size: 15px !important;
    /* font-weight: 600 !important; */
    /* color: rgb(255, 255, 255) !important; */
  }
}

.fc-timegrid-event-harness > .fc-timegrid-event {
  position: relative !important;
}

.fc-event-title-container,
.fc-event-title .fc-sticky {
  color: #fff !important;
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-list-day-cushion {
  background-color: transparent !important;
}

.fc .fc-timegrid-divider {
  display: none;
}

.fc-direction-ltr .fc-list-table .fc-list-event-graphic,
.fc-list-table .fc-list-event-graphic {
  /* border: none !important; */
  /* border-bottom: none !important; */
  border-right: none !important;
}

.fc-col-header-cell-cushion {
  /* float: left; */
  font-size: 16px;
}

.fc-direction-ltr .fc-list-day-text,
.fc-direction-rtl .fc-list-day-side-text {
  color: white;
  font-size: 16px;
  line-height: 2em;
}

.fc tr {
  height: 10px;
}

.fc .fc-list-event:hover td {
  background-color: #8161a4a0 !important;
}

.fc-event .fc-event-title,
.fc-list-event-time,
.fc-list-event-title,
.fc-event .fc-event-time {
  font-size: 14px;
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-list-day-cushion {
  background-color: #232323b4 !important;
}

.fc .fc-list-empty {
  align-items: center;
  background-color: #1e1e1e !important;
  display: flex;
  height: 100%;
  justify-content: center;
}
