.title {
    strong {
        font-size: 24px; 
    }
    display: block;
    margin: 0 !important;

    .titleEditIcon {
        visibility: hidden;
    }

    &:hover {
        .titleEditIcon {
            visibility: visible !important;
        }
    }
}

.salesOwnerInput {
    display: flex;
    align-items: center;
    height: 2rem;

    .salesOwnerInputEditIcon {
        visibility: hidden;
    }

    &:hover {
        .salesOwnerInputEditIcon {
            visibility: visible !important;
        }
    }
}
